@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-custom {
    @apply w-full bg-zinc-700 text-white px-4 py-2 rounded-md my-2;
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.spinner {
  font-size: 60px;
  color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
